/* Bring in all Compass Helpers 
// as well as Titos base style files */
@import "partials/base";


/*	Primary Stylesheet						     
	Author: Tito Bottitta + Upstatement			 */ 


/* ============================================= */

/*	Universal						   			 */ 

/* ============================================= */

a, a:link, a:visited {
	text-decoration: none;
	color: $red;
	&:hover {	
		color:darken(saturate($red, 30), 22);
	}
}


.hidden {
	display:none;
}

textarea {
	resize:none;
}	



/* ============================================= */

/*	Typography						   			 */ 

/* ============================================= */

strong, .strong {
	font-weight: bold;
	}

em {
	font-style: italic;
	}
.header-h4 {
	font-family:$sans;
	font-size:13px;
	text-transform:uppercase;
	margin-bottom:12px;
}
.header-h2 {
	font-family:$serif;
	font-size:20px;
	
}


/* ============================================= */

/*	Layout 							   			 */ 

/* ============================================= */






/* ============================================= */

/*	Objects							   			 */ 

/* ============================================= */

.section-header {
	font-family:$display-serif;
	font-size:38px;
	line-height:40px;
}

.text-oversize {
	font-family:$serif;
	font-size:15px;
	line-height:20px;
}

.content-editable {
	border:1px solid #FFF;
}

.notification {
	border: 1px solid darken(saturate($yellow, 10), 10);
	@include border-radius(3px);
	font-family:$sans;
	text-align: center;
	margin-top: 3px;
	text-decoration: none;
	display:block;
	background: $yellow;
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255, 255, 255, .5)), color-stop(100%,rgba(255, 255, 255, 0)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
	padding:10px;

}

#message-center {
	@extend .notification;
	position: fixed;
	margin: auto;
	text-align: center;
	width: 760px;
	margin-left: 100px;
	@include border-top-left-radius(0px);
	@include border-top-right-radius(0px);
	@include box-shadow(0px 0px 5px rgba(0, 0, 0, .5));
	opacity:0;
	visibility:hidden;
	@include trans(1.5s);
	top:-100px;
}

#message-center.show {
	opacity:1;
	visibility:visible;
	top:0px;
}

html div#message p {
	@extend .notification;
}

.notification-profile {
	@extend .notification;
}

.edit-mode .content-editable {
	border:1px dotted #999;
	
	&:hover {
		background-color:adjust-lightness($yellow, 1);
	}
	
	&:focus, &:hover:focus {
		background-color:$yellow;
		outline:none;
	}
}

#item-header-content, html div#item-header h2 {
	@extend .section-header;
}

html #content ul.item-list.activity-list li {
	padding-top:15px;
	padding-bottom:15px;
}

html {
	div.activity-meta a {
		font-family:$sans;
		padding: 0px 11px;
		font-size:10px;
	}

	div.activity-comments form {
	
		.ac-textarea {
			border: 0px;
			padding: 0px;
		}
		textarea.ac-input {
			padding:15px;
		}
	}
}



/* ! ============================================= */

/* ! Header & Main Navigation	   				   */ 

/* ! ============================================= */

html body {
	padding-top: 0px !important; 
}

body.user-admin #wp-admin-bar {
	display:block;
}

body #wp-admin-bar {
	display:none;
}




/* ! ============================================= */

/* ! Footer							   			   */ 

/* ! ============================================= */







/* ! ============================================= */

/* ! Homepage						   			   */ 

/* ! ============================================= */

html  {

	ul.latest {
		width:160px;
	}
	
	.home-thumb, .home-thumb img {
		display:block;
		width:145px;
		box-sizing:border-box;
	}

}

/* ! ============================================= */

/* ! Modal							   			   */ 

/* ! ============================================= */

* {
	box-sizing:border-box;
}

.modal {
	display:none;
	background-color:rgba(white, .95);
	border:5px solid rgba($gray-dark, .5);
	border-radius:10px;
	@include box-shadow(0px 0px 15px rgba(black, .3));
	padding:0px;
}	

.modal-style-large {
	min-width:900px;
	min-height:400px;
}

.modal-style-medium {
	min-width:600px;
	min-height:300px;
	padding:20px;
}

#modal-signup-scrollable {
	@include trans;
	min-height:300px;
	.slide {
		min-height:300px;
		padding:40px 50px;
		width:890px;
	}
	form & {
		@include trans;
	}
}

.circ {
	display: inline-block;
	@include linear-grad(#CCC);
	width: 20px;
	height: 20px;
	border-radius: 20px;
	margin-right: 5px;
	font-size: 16px;
	border: 1px solid;
	.plusser {
		font-weight: bold;
		font-family: helvetica;
		color: white;
		position: relative;
		top: -1px;
	}
}

#modal-welcome {
	background-color: gray;
	box-shadow: inset 0px -10px 10px rgba(0, 0, 0, .3);
	padding:5px 50px;
	color:white;
	h2 {
		font-size: 45px;
 		font-family:$serif;
		margin-top: 10px;
		opacity: 0.8;
		font-style: italic;
	}
	h3 {
		line-height:22px;
		opacity:0.8;
	}
}

#modal-screen-signup-schools {
	.add-school-row {
		@include btn(large, light);
		border:1px dashed $red;
		display:block;
		padding:15px;
		text-align:center;
		width: 62%;
		margin: auto;
		border-radius: 10px;
		margin-bottom:18px;
		@include trans(250ms);
	} 
}

.btn-group {
	.btn-large-light {
		display:inline-block;
		width:46.5%;
		margin-right:5%;
		text-align: center;
		padding: 22px;
		&:hover {
			@include box-shadow(0px 0px 17px rgba(0, 0, 0, .2));
		}
	}
	.btn-large-light:last-child {
		margin-right:0%;
	}
}

.btn-large-light {
	@include btn(large, light);
}

#add-school-modal.modal-style-medium {
	form {
		padding:13px 29px;
	}
	inline-label:first-child {
		margin-left:50px;
	}	
}
.signup-school-row {
	position:relative;
	border:0px;

	.inline-label {
		display:inline-block;
		margin-left:20px;
		margin-right:5px;
	}

	.signup-school-name {
		display:inline-block; 
		padding:5px 8px;
		font-size:14px;
		font-family:$sans;
		width:330px;
		.modal-style-medium & {
			display: block;
			font-size: 22px;
			width: 100%;
			margin-bottom: 16px;
		}	
	}
	input[class*="year"] {
		display:inline-block;
		width:100px;
		padding:5px 8px;
		font-size:14px;
		font-family:$sans;
		position:relative;
		z-index:0;
	}
}

.submit-signup {
	@include btn(large, dark);
	float:right;
}

.signup-no-thanks {
	@include btn(large, light);
	color:#999;
	float:right;
	margin-right:15px;
}




/* ! ============================================= */

/* ! Media Queries							      */

/* ! ============================================= */


@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
  
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
  
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
  
  
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/* Auto complete */


.autocomplete-w1 { background:url(img/shadow.png) no-repeat bottom right; position:absolute; top:0px; left:0px; margin:8px 0 0 6px; /* IE6 fix: */ _background:none; _margin:0; }
.autocomplete { 
	border:1px solid #999; 
	background:#FFF; 
	cursor:default; text-align:left; max-height:350px; overflow:auto; margin:-6px 6px 6px -6px; /* IE6 specific: */ _height:350px;  _margin:0; _overflow-x:hidden; }
.autocomplete .selected { background:#F0F0F0; }
.autocomplete div { padding:2px 5px; white-space:nowrap; }
.autocomplete strong { font-weight:normal; color:#3399FF; }


html body .auto-complete-list {
	top:50px !important;
	left:0px !important;
}
.auto-complete-list {
	position:absolute;
	border:5px solid $gray;
	border-top-width:0px;
	@include box-shadow(0px 4px 8px rgba(0, 0, 0, .5));
	@include border-bottom-left-radius(8px);
	@include border-bottom-right-radius(8px);
	z-index:100;
	.search-result-li {
		background-color:white;
		border-bottom:1px solid rgba($gray, .5);
		padding:12px 20px;
		list-style-type:none;
		font-size:18px;
		font-family:$sans;
	}
	.search-result-striped {
		background-color:darken($white, 10);
	}
	.search-result-hover {
		background-color:lighten($blue, 50);
	}
}


/* ============================================= */

/*	Print Styles							     
	Inline to avoid required HTTP connection     */

/* ============================================= */

// Import Print Styles
@import "partials/print";

.blog-title {
	font-family:$display-serif;
	font-size: 60pt;
	display: block;
	margin-top: 30px;
}

.blog-deck {
	font-family: "Lucida Grande", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 14pt;
	display:block;
	margin-left: 315px;
	margin-top: -10px;
	letter-spacing: 3px;
}

#pages {
	float: left;
	display: block;
	margin-left:-10px;
	margin-top:18px;
	
	li {
		float: left;
		font-family: $sans;
		font-size: 12px;
		font-weight: 500;
		list-style-type: none;
		padding-left: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-right: 10px
	}
	
	li.page_item {
		/*
		text-transform: uppercase;
		font-size: 10pt;
		letter-spacing: 3px;
		font-family: $sans;
		margin-top: 30px;
		padding-right: 10px;		
		*/
		color:black;
	}
	
}

.skip-link a, .sbox {
	display: none;
}

#profile-tools {
	float: right; 
	margin-top: -8px;

	
	.network {
		font-family: $sans;
		text-transform: uppercase;
		font-size: 10px;
		color: #666000;
		
	}
	
	.tools {
		background-image: url("../images/ribbon-repeat.png");
		background-repeat:repeat-y;
		width:93px;
		
		li {
			list-style-type: none;
			font-family: $serif;
			color: #FFFFFF;
			font-size:13px;
			line-height: 13px;
			padding-bottom:8px;
			padding-top: 3px;
			text-align:center;
			&:first-child {
				padding-top:8px;
			}
			a:link, a:visited {
				color:white;
			}
			a:hover {
				color:$red;
			}
		}
		
		
		
	}
	&:after {
			background-image:url('../images/ribbon-bottom.png');
			background-repeat:no-repeat;
			display:block;
			height:40px;
			content:' '
		}
	
	
}

/* SCHOOLS INDEX */




#groups-directory-form {
	@include clearfix;
	margin-bottom:40px;
}

#group-dir-search {
	width:320px;
	display:none;
}

#groups-list {
	@include clearfix;
}


.groups-index-item {
	@include pie-clearfix;
	.item-title {
		width:100%;
	}
	.item-desc {
		display:none;
	}
}

.schools-index-item {
	border-bottom:1px solid #AAA;
	padding:12px;
	min-height:80px;
	&:nth-child(3) {
		margin-right:0;
	}
	
	.activity {
		display:none;
	}	
}

/* SCHOOLS PROFILES */
#item-body {
	@include clearfix;
}

#item-rail {
	width:25%;
	float:left;
	min-height:100px;
	margin-right:5%;
	.school-members-rail {
		img {
			width:50px;
			height:50px;
		}
	}
	h3.member-membership-header {
		margin-bottom:0px;
		padding-bottom:0px;
	}
}

.school-section-header {
	@extend .header-h4;
}	
.member-membership-header {
	@extend .header-h4;
}
#item-main {
	float:left;
	width: 70%;
}

/* Activity */

body form#whats-new-form textarea {
	height:30px;
}

.activity-header h4 {
	padding-top:0px;
	padding-bottom:0px;
	margin-bottom:3px;
}

html div.activity-comments form.ac-form {
	margin:0px;
}

.ac-form {
	padding: 10px 5px;
	background-color:$yellow;
	margin-top: 10px;
	display:none;
}

.ac-reply-content {
	input[type="submit"] {
		@include btn(small, light);
	}
}

	
html .activity-list .activity-content .activity-inner {
	padding-top:0px;
	margin-top:0px;
}

html div.activity-meta {
	padding-top:0px;
	margin-top:0px;
}

#whats-new-avatar {
	margin-right:20px;
	float:left;
}

.mini-avatar {
	width:30px;
	height:30px;
	padding:1px;
}

#new-member-prompt {
	background-color:$yellow;
	padding:10px 20px;
}

.nmp-schools {
	margin-top:10px;
	
	.schools-index-hgroup {
		line-height:17px;
		margin-top:4px;
	}
	> li {
		@include pie-clearfix;
		margin-bottom:10px;
		padding-bottom:5px;
		min-height:52px;
		border-bottom:1px solid rgba(50, 0, 0, .3);
	}
	.nmp-members {
		display:inline-block;
	}

}

.activity-avatar {
	@extend #whats-new-avatar;
}

.ac-reply-avatar {
	@extend #whats-new-avatar;
	margin-right:0px;
}

html #whats-new-options {
	float:right;
	padding-top:9px;
	height:auto;
}

textarea#whats-new {
	font-size: 14px;
	padding: 5px 10px;
	width:595px;
	margin-bottom:8px;
}

#aw-whats-new-submit {

	@include btn(medium, light); 
}

.activity-inner, .activity-inner p {
	font-size: 13px;
	color: #444;
}

.activity-prompt {
	font-size:14px;
}

#header {
	@include clearfix;
	min-height:75px;
	height:auto;
	margin-top:0px;
	padding-top:17px;
	h1 {
		float:left;
	}
}

#login-tools {
	float:right;
	margin-top:36px;
}

.facebook-button-li {
	list-style-type:none;
}

.facebook-button, a.facebook-button:link{
	@include btn-dark(hsl(360,73%,55%));
	color:white;
	display:block;
	padding:10px 3px;
	color:white !important;
	font-family:$sans;
	font-size:16px;
	text-align:center;
	width:250px;
	border-radius:8px;
	
}

/* SCROLLABLE */

.scrollable {
	position:relative;
	overflow:hidden;

	.items {
		width:2000em;
		position:absolute;
		
	}

	.slide {
		float:left;
	}
}

/* GROUP TEASE */
.group-thumbnail {
	display:inline-block;
	margin-right:10px;
}

.schools-directory-header {
	@extend .section-header;
}

.schools-index-hgroup {
	display:inline-block;
	width:35%;
	margin-right:3%;
	vertical-align: top;
	margin-top:10px;
	line-height:24px;
}

.school-meta {
	font-style:italic;
	font-size:13px;
	color:$gray;
}

.group-thumbnail img {
	width:120px; 
	height:100px;
}

.schools-index-header {
	@include pie-clearfix;
	h3 {
		float:left;
	}
	.button-large {
		float:right;
		width:200px;
	}
}

.group-pagination-links {
	@include pie-clearfix;
	li {
		float:left;
		display:block;
		text-align:center;
		border:1px solid $gray;
		padding:4px;
		min-width:28px;
		margin-right:5px;
		list-style-type:none; 
		a {
			margin:auto;
			display:block;
		}
		a:active {
			color:#000;
		}
		&:hover {
			border-color:$red;
		}
	}
}

.schools-index-roster {
	display:inline-block;	
	vertical-align:top;
	margin-top:10px;
	@include pie-clearfix;
	li {
		float:left; 
		a {
			display:block;
			border-color:$gray;
			&:hover {
				color:$red;
				img {
					border-color:$red;
				}
			}
			img {
				border-color:$gray;
			}
		}
	}
}

/* TEASE */

.tease-hgroup {
}
.tease-article {
	@include clearfix;
	border-bottom: 1px solid #CCC;
padding-bottom: 10px;
margin-bottom: 10px;
}

.tease-thumbnail-link {
	float:left;
}
.tease-thumbnail {
	
	width:120px;
	height:120px;
	margin-right:15px; 
}
.tease-header {
	font-size:22px;
}

/* Member Profiles */
@import "partials/members";
@import "partials/groups";
@import "partials/site";